[2015-05-03 10:25] mackenza opened #1 "failing on npm start (Linux x64)"
@zaggino where does it get the `electron` executable from when you do a `electron ./app/index.js`?

Do make it run, I did the following:
1. `./node_modules/electron-prebuilt/install.js` which created a `dist` folder with an `electron` executable
1. edited `package.json` start script to do `./node_modules/electron-prebuilt/dist/electron ./app/index.js`
1. `npm start`

I get an Electron shell window

[2015-05-03 10:28] mackenza commented on #1
I do see a console error message that could be a show stopper, I guess:

`[21368:0503/062005:INFO:CONSOLE(125)] "Uncaught Error: getApplicationSupportDirectory() not implemented for platform linux", source: /home/mackenza/projects/brackets-electron/app/appshell/app.js (125)`

I will look into that.

[2015-05-03 10:37] zaggino commented on #1
I have worked just on Windows today so that one works. You can put electron to your path by using `sudo npm install -g electron-prebuilt` but I didn't have to do that on Windows and neither I needed to do that `./node_modules/electron-prebuilt/dist/electron ./app/index.js` step you mentioned. It might take a bit of effor to make all three platforms running.

we're using https://github.com/mafintos

[2015-05-03 10:41] mackenza commented on #1
ok... I wonder if we should work on 1 platform till it's solid then others or should we work on all 3 in parallel?

I believe it's failing because of the way we are currently retrieving the APPDATA stuff which is Windows-specific.

[2015-05-03 10:43] zaggino commented on #1
There shouldn't be much platform specific stuff. I'll fix the mac tomorrow at work but I don't have linux vm at hand right now so that one will come a bit later.

[2015-05-03 10:57] mackenza commented on #1
I will take a stab at fixing Linux

On Sun, May 3, 2015 at 6:43 AM, Martin Zagora notifications@github.com
wrote:

[2015-05-03 13:07] zaggino commented on #1
Ok, to see what the expected result should be, just open developer tools in normal Brackets and execute `brackets.app.getApplicationSupportDirectory()`

[2015-05-03 13:28] mackenza commented on #1
fixed... will submit PR soon

[2015-05-03 13:31] mackenza commented on #1
hmm... not sure how to submit a PR for this. If I fork the repo, it gives me a fork of adobe/brackets which I already have. How do I submit it to this repo, not Brackets?

[2015-05-03 13:34] zaggino commented on #1
dunno right now, I've made you a collaborator, just clone this repo and push a branch to it (never to master please)

[2015-05-03 13:35] mackenza commented on #1
until we figure that out, here is the code:

[code]

[2015-05-03 13:35] zaggino commented on #1
but googling -> http://faisonz.com/blog/send-pull-request-to-another-github-fork/

[2015-05-03 13:38] zaggino commented on #1
_I've also made @MarcelGerber a collaborator in case he wanted to spare some time with this. (based on brackets-dev emails)_

[2015-05-03 15:05] #1 closed, assigned to nobody

[2015-05-03 15:13] marcelgerber opened #4 "Change App Support directory to "Brackets-Electron" for development?"
Would it make sense to use another AppData folder for brackets-electron so it cannot fuck up the existing Brackets installation (only for development, of course)?

The change would be easy... Just change https://github.com/zaggino/brackets-electron/blob/b47cc9d5e65617d2c1cd4fe7842708dcf522831c/app/appshell/app.js#L123-L131

[2015-05-03 15:23] #4 closed, assigned to nobody

[2015-05-03 15:24] zaggino commented on #4
:+1:

[2015-05-03 15:27] mackenza opened #5 "native menus on Linux"
I am trying to figure out where Brackets determines Linux cannot handle native menus. I have traced some stuff in `utils/Global.js` but I cannot find where it determines this.

[2015-05-03 15:33] zaggino commented on #5
try

[code]

in app/index.js

[2015-05-03 19:03] mackenza commented on #5
didn't work.

[2015-05-03 19:25] mackenza commented on #4
I was thinking the same thing... nice work Marcel

[2015-05-03 19:27] mackenza commented on #5
I changed it to `"?hasNativeMenus=true"` and it worked.

Is this the actual way to do it, though? The Windows version doesn't use that switch, does it?

Anyway, closing this for now. We can pursue a different fix later, I suppose.

[2015-05-03 19:46] sbruchmann opened #7 "Fix getApplicationSupportDirectory() on darwin"
Hello @zaggino,

as I’ve already forked the brackets repository in the past, I am not able to fork this repository as well and therefore I am unable to send a pull request for this rather small change:

Replace [app/appshell/app.js#L130](https://github.com/zaggino/brackets-electron/blob/e2ffa73dd66bd016021cb658db4ccc0d2e7f83ef/app/appshell/app.js#L130) with this:

[code]

[2015-05-03 19:59] marcelgerber commented on #5
Yeah, we should look into the variables normally set by Brackets-Shell. I'll do that tomorrow (hopefully).

[2015-05-03 21:16] zaggino commented on #7
Hi, in case you wanted to submit a PR, try this in your brackets fork:

[code]

http://faisonz.com/blog/send-pull-request-to-another-github-fork/

[2015-05-03 21:18] zaggino commented on #5
leave it open until it's fixed ;)

[2015-05-03 23:39] #7 closed, assigned to nobody

[2015-05-03 23:44] #5 closed, assigned to nobody

[2015-05-05 02:59] p4bl1t0 opened #10 "Error on updating extension"
When I want to update the brackets extension from the extension manager I am getting the following error:
![brackets error on download extension](https://cloud.githubusercontent.com/assets/886512/7466440/5157371a-f2b9-11e4-9efc-e3c48a9ae747.png)

[2015-05-05 03:02] zaggino commented on #10
What windows do you have?

[2015-05-05 03:23] p4bl1t0 commented on #10
It's not Windows, it's Deepin Linux (Ubuntu Trusty based distribution).

[2015-05-05 05:22] zaggino commented on #10
I don't have Linux but maybe @mackenza can help here.

[2015-05-05 06:07] zaggino opened #11 "breaks when user manually modifies shell-config.json incorrectly"
they're multiple levels to this which should be solved:
- user modifies file so it's not a valid json
- user modifies file so it's missing some required values
- user modifies file so it contains invalid values

it's not really a blocking issue, just an approach must be chosen how to handle this user friendly

[2015-05-05 09:24] mackenza commented on #10
@p4bl1t0 what extension were you updating?

[2015-05-05 11:15] p4bl1t0 commented on #10
Brackets-Git

[2015-05-05 15:06] mackenza commented on #10
it's actually worse than that. I cannot install an extension on Linux either. I think it has to do with the temp folder the zip file is being downloaded to. I am looking into this.

[2015-05-05 20:27] mackenza commented on #10
should be addressed by #14

[2015-05-05 20:40] mackenza opened #15 "Links in extension manager open in Electron app window"
When I click a More info... link in the extension manager, the target web page is launched inside the shell, not in a new browser.

This is on Linux. Not sure if it's the same on other platforms just yet.

![brackets-electron - brackets_002](https://cloud.githubusercontent.com/assets/2412637/7482438/7bd2c5ae-f345-11e4-9a21-1607ba4f38f9.png)
![giovannicalo-brackets-coffeescript github_003](https://

[2015-05-05 23:10] p4bl1t0 opened #16 "Live preview isn't working"
It's not expected to work at this stage but it's for the record. When the Live Preview is launched the error in the developer tools is the following:

[code]

[2015-05-05 23:10] zaggino commented on #16
_note: always state the OS you're running_

[2015-05-05 23:12] p4bl1t0 commented on #16
Linux Deepin (Ubuntu Trusty 14.04)

[2015-05-05 23:16] zaggino commented on #10
@p4bl1t0 can you test this again and confirm/close?

[2015-05-05 23:24] p4bl1t0 commented on #10
It's working properly. Things that I tested:
- Update an extension
- Add a new extension
- Delete one extension

The changes preserve also after closing and reopening Brackets

[2015-05-05 23:24] #10 closed, assigned to mackenza

[2015-05-06 18:16] #15 closed, assigned to nobody

[2015-05-07 21:45] zaggino opened #19 "sort out how extensions use app.getUserDocumentsDirectory"

[2015-05-07 21:57] marcelgerber commented on #19
I did a GitHub search for such function calls: https://github.com/search?l=javascript&q=app+getUserDocumentsDirectory+brackets&ref=searchresults&type=Code&utf8=%E2%9C%93

Tomorrow, I could give you more detailed and complete results frommsearching my whole downloaded repository.

[2015-05-07 22:13] mackenza commented on #19
It looks like it's just a starting point for file browsing. I doubt any of those extensions would actually "break" if we made it just go to `getPath("home")` or another reasonable default.

My vote is to get Brackets to deprecate it and implement it in Bracketron with some sort of x-platform default that works. It's not a useful API for a code editor to look for a Documents folder imo.

[2015-05-07 22:14] mackenza commented on #19
any idea how the brackets-shell native code handles resolution of the localized Documents path?

[2015-05-07 23:34] zaggino commented on #19
for now https://github.com/zaggino/brackets-electron/commit/0187595d38f9ef5d20d9f3d2ed2eac34bf27e75f

we can discuss here if we're able to implement `app.getUserDocumentsDirectory` with a reasonable amount of effort

[2015-05-08 00:55] mackenza commented on #19
I like the approach there... (I guess I suggested it so why not like it lol)

[2015-05-08 04:26] ingorichter commented on #19
This is how brackets-shell is handling it
https://github.com/adobe/brackets-shell/blob/master/appshell/client_app_mac.mm#L94

On Thu, May 7, 2015, 17:55 Andrew MacKenzie notifications@github.com
wrote:

[2015-05-08 06:45] zaggino opened #20 "mac: invalid icon in the dock"
![image](https://cloud.githubusercontent.com/assets/1067319/7531744/8b7a9a78-f5a1-11e4-98e4-fcfd535413a2.png)

[2015-05-08 06:46] zaggino opened #21 "failing tests: native menus"
- [x] all unit tests are passing
- [x] `app.js` implementation reviewed
- [x] `NativeMenu-test.js` changes reviewed

[2015-05-08 06:47] zaggino opened #22 "failing tests: editor"

[2015-05-08 06:47] #22 closed, assigned to nobody

[2015-05-08 06:47] zaggino commented on #22
seems like some tests are breaking the others, when run solely one suite, no errors are shown

[2015-05-08 06:58] zaggino opened #23 "mac: invalid name in the top-left corner of the screen"
![image](https://cloud.githubusercontent.com/assets/1067319/7531891/7aece808-f5a3-11e4-8124-759ab8405fe3.png)

[2015-05-09 02:19] zaggino opened #24 "port fsevents-win from the old brackets-shell"
ideally we'd have this as an npm module that's compiled with `node-gyp`

[2015-05-09 02:19] zaggino opened #25 "port live-preview server from the old brackets-shell"
ideally we'd have this as an npm module that's compiled with `node-gyp`

[2015-05-09 02:25] zaggino opened #26 "explore atom's pathwatcher module"
module is here: https://github.com/atom/node-pathwatcher

atom uses it to watch changes on files, maybe we could use it too; i've no idea how much it differs from  what we have, but maybe we could help improve pathwatcher with features from our `fsevents` and `fsevents-win`

[2015-05-09 08:30] marcelgerber opened #27 "Low quality title bar and tray icons on Windows"
On Windows, both the title bar icon and the tray icon are of way worse quality than they are in Brackets core.

See https://github.com/atom/atom/issues/4811 for info how they fixed that.

Title bar icon:
![image](https://cloud.githubusercontent.com/assets/2641501/7549469/f96e9914-f635-11e4-824c-76e8eed5ff7d.png)

Tray icon:
![image](https://cloud.githubusercontent.com/assets/2641501/7549471/23068c

[2015-05-09 09:19] marcelgerber opened #30 ""Update extensions and reload" quits Brackets"
Probably related to some function not yet implemented, but when you click "Update extensions and reload" in the dialog that pops up after an extension was updated, Brackets-Electron quits when it's meant to reload.

[2015-05-09 22:00] marcelgerber opened #31 "Tooltips don't work"
Hover over the Live Preview lightning bolt icon.

Result:
No tooltip

Expected:
Tooltip saying `Live Preview`

Upstream bug: atom/electron#877

[2015-05-10 08:19] ingorichter commented on #23
we need a `post-install` script in our package.json or we update the name before the installer is created. The name is in Electrons Info.plist file and cannot be set programmatically.

[2015-05-10 08:22] marcelgerber commented on #23
I think we need to build Electron ourselves (with a custom config) in order to fix this bug.

[2015-05-10 08:24] ingorichter opened #32 "Drop files on the the app icon on OSX doesn't open the files in the editor"
Drop files on the the app icon on OSX doesn't open the files in the editor.

[2015-05-10 09:00] zaggino commented on #23
Do you think we should try to take advantage of https://github.com/maxogden/electron-packager or just go straight for https://github.com/paulcbetts/grunt-build-atom-shell ?

[2015-05-10 12:02] sbruchmann commented on #23
Hello @zaggino,

[Citing electron-docs](https://github.com/atom/electron/blob/master/docs/api/menu.md#main-menus-name):

Hope that helps.

[2015-05-11 01:53] zaggino commented on #31
I can see `Live Preview` tooltip on my Mac as upstream bug suggests.

[2015-05-11 02:32] #30 closed, assigned to zaggino

[2015-05-11 02:34] zaggino commented on #31
@mackenza Do the tooltips work on Linux?

[2015-05-11 06:17] #21 closed, assigned to zaggino

[2015-05-11 06:23] ingorichter opened #35 "Running unit tests destroys all menus and menu items"
It seems, that the unit tests are removing all menus and menu items during the test run

[2015-05-11 06:37] zaggino commented on #35
Yes, unit tests for native menus do that, I'm not 100% sure why yet, but I think that the menu entries in `Electron` are shared between windows, but in `brackets-shell` they're `per window`

[2015-05-11 06:39] ingorichter commented on #35
Yes, I think that's the case. :-/

[2015-05-11 06:52] zaggino commented on #35
Nothing that's not fixable ;)

[2015-05-11 11:25] mackenza commented on #31
@zaggino the tooltip is there, but not visible as it gets clipped by the window.

![tooltip_004](https://cloud.githubusercontent.com/assets/2412637/7563832/e5e8a536-f7ae-11e4-83ff-4f46c68576ce.png)

[2015-05-11 14:23] zaggino opened #36 "integration tests are not runnable"
related: https://github.com/atom/electron/issues/1673

[2015-05-12 00:45] #35 closed, assigned to zaggino

[2015-05-13 04:02] zaggino commented on #16
https://github.com/zaggino/brackets-electron/issues/25 needs to be resolved

[2015-05-13 04:02] #16 closed, assigned to nobody

[2015-05-14 21:35] zaggino commented on #36
test

[2015-05-16 02:44] zaggino opened #38 "grunt task to create distributable for windows"

[2015-05-16 02:45] zaggino opened #39 "grunt task to create distributable for mac"

[2015-05-16 02:45] zaggino opened #40 "grunt task to create distributable for linux"

[2015-05-22 18:05] ingorichter commented on #24
I started to work on this last weekend. I'm going to continue this weekend and hope to finish it.

[2015-05-22 23:39] zaggino commented on #24
nice :+1:

[2015-06-23 22:00] ingorichter opened #48 "Cut, Copy and Paste don't work"
- commands aren't working
- keyboard shortcuts aren't working

`Ctrl/Cmd+X`, `Ctrl/Cmd+C` and `Ctrl/Cmd+V` don't trigger the associated command.

[2015-07-01 14:20] marcelgerber commented on #48
What OS are you on? On Windows, they all work.

[2015-07-18 21:32] ingorichter commented on #48
I'm on OSX. I experimented with different solution to solve the issue and got it working. Some cleanup and then a PR.

[2015-08-06 16:52] marcelgerber commented on #31
Tooltips now work on Windows (since v0.30.0, see upstream bug)

Linux tooltips are still being clipped.

[2016-01-23 18:20] WolfieWerewolf commented on #48
@ingorichter I'm also on OSX and immediately noticed the same thing... I appreciate you wanting to clean up before doing a PR but would save me a lot of time if you could, perhaps, put what you have already on a gist?  Many thanks.

[2016-01-24 00:40] mackenza commented on #48
@WolfieWerewolf I am not sure anyone is actively working on this project anymore. This issue hasn't been active in 6 months.

[2016-01-24 00:42] WolfieWerewolf commented on #48
Fair enough, having now spent the day going through the Brackets code I feel that it's vastly superior to Electron anyway... I expect I'll be porting my active projects across.  Thanks for letting me know.

[2016-01-24 01:02] mackenza commented on #48
this project was only about replacing brackets-shell with electron. The editor component is the same across both and use the same source.

[2016-01-24 01:03] WolfieWerewolf commented on #48
That's what I'm actually talking about.  The shell, in my opinion, is light years ahead of the Electron shell.

[2016-01-24 01:04] mackenza commented on #48
oh ok... just making sure we were talking about the same thing ;) To each his own.

[2016-01-24 01:06] WolfieWerewolf commented on #48
Have you every tried to embed Atom back into Electron? LOL   You would think that would be easy...

[2016-08-21 06:08] zaggino commented on #48
@ingorichter as original reporter, would you mind cloning the repo, use `npm start` to start it and let me know if this issue is fixed? master has now latest electron `1.3.3`

[2016-08-21 06:10] #36 closed, assigned to nobody

[2016-08-21 06:13] zaggino commented on #31
@MarcelGerber this should be fixed in latest master (upstream bug has been fixed).

[2016-08-21 06:17] #24 closed, assigned to nobody

[2016-08-21 13:35] marcelgerber commented on #31
[code]

[2016-08-21 13:37] #31 closed, assigned to nobody

[2016-08-21 14:44] mackenza commented on #31
I also tested on Linux and the tooltips appear

[2016-08-21 14:46] mackenza opened #55 "brackets-electron reports itself as 1.5 dev"
This is a problem because some extensions require 1.6. I kind of looked but cannot find where we set the version.

[2016-08-21 15:10] #55 closed, assigned to nobody

[2016-08-21 15:24] ingorichter commented on #48
I'll check this out this afternoon. Thanks
On Sat, Aug 20, 2016 at 23:08 Martin Zagora notifications@github.com
wrote:

[image: --]
Ingo Richter
[image: https://]about.me/ingorichter
https://about.me/ingorichter?promo=email_sig

[2016-08-21 16:19] mackenza opened #56 "how/where would you load node modules in extension code?"
[code]

So that totally fails.

So where should I be loading my NodeJS modules?
Won't the NodeJS `require` conflict with the RequireJS `require`.

Am I missing something obvious?

[2016-08-21 21:13] zaggino commented on #55
Thanks @MarcelGerber

[2016-08-21 21:14] zaggino commented on #56
[code]

should do the trick

[2016-08-21 21:16] zaggino commented on #31
@MarcelGerber `npm install` should also run

[code]

so I have no idea why you had to run it manually

[2016-08-21 23:02] mackenza commented on #31
When I ran it, I got an error on pre-build.sh and npm run build was not executed. I don't recall what the error was but I also had to run npm run build manually to make it work.

[2016-08-22 00:13] ingorichter commented on #48
No, the issue is still present. Let me undust my working branch, where I fixed this already.

[2016-08-22 00:51] mackenza commented on #56
nope. I tried it above and inside the define() and I get a bunch of errors that it can't load menus and other Brackets modules.

[2016-08-22 00:54] mackenza commented on #56
node looks to be a global. I get hints on it when I go to type it.

[2016-08-22 01:30] zaggino commented on #56
This seems to work fine:
https://github.com/zaggino/brackets-electron/blob/master/src/filesystem/impls/appshell/AppshellFileSystem.js#L124

[2016-08-22 01:39] mackenza commented on #56
maybe because I am in an extension?

I will play with it some more I guess.

[2016-08-22 01:53] mackenza commented on #56
ok it was something else. There were 147 errors and I was missing a file that caused the rest of the extension not to load.

[2016-08-22 01:59] mackenza commented on #56
I spoke too soon. The extension loads now but it doesn't actually work and I get 142 errors now.

[2016-08-22 02:12] zaggino commented on #56
If you link the extension repo here, I can look at it later (when more important stuff is resolved).
Unless you want to put up a PR with fix :-)

[2016-08-22 02:34] ingorichter commented on #56
@mackenza where is your repo?

[2016-08-22 05:32] zaggino commented on #38
![image](https://cloud.githubusercontent.com/assets/1067319/17844433/cdf1c7b0-687c-11e6-8813-9ed42c5e8183.png)

![image](https://cloud.githubusercontent.com/assets/1067319/17844504/980a1b92-687d-11e6-8a7f-c74c4f11a3ad.png)

`npm run pack` creates local build for testing
`npm run dist` creates squirrel installer (more info in https://github.com/electron-userland/electron-builder)

[2016-08-22 05:32] #38 closed, assigned to zaggino

[2016-08-22 05:34] zaggino commented on #39
@ingorichter if you could have a look, now that https://github.com/zaggino/brackets-electron/issues/38 is done, it shouldn't require much code

[2016-08-22 05:34] zaggino commented on #40
@MarcelGerber if you could have a look, now that https://github.com/zaggino/brackets-electron/issues/38 is done, it shouldn't require much code

[2016-08-22 06:36] #23 closed, assigned to zaggino

[2016-08-22 06:36] #20 closed, assigned to zaggino

[2016-08-22 07:44] zaggino commented on #27
This should be fixed in current master.

[2016-08-22 17:39] marcelgerber commented on #40
We only need to add an `author.email` field to our `package.json`, then we're all good here.

[2016-08-22 21:03] zaggino commented on #40
any idea what that email should be?

[2016-08-22 21:16] marcelgerber commented on #40
Just looked it up, `brackets-shell` uses brackets-dev@googlegroups.com (https://github.com/adobe/brackets-shell/blob/da088ef847ad3efce726a24be087bd7b92e9a77f/installer/linux/debian/control#L9).

Not sure if we can use an official email here, though...

[2016-08-22 21:53] zaggino commented on #40
I think we can, that group is a public one, not private: https://groups.google.com/forum/#!forum/brackets-dev

[2016-08-23 00:09] #40 closed, assigned to nobody

[2016-08-24 01:25] zaggino commented on #26
We'll merge master once https://github.com/adobe/brackets/pull/12647 is merged into it to resolve this issue.

[2016-08-24 01:25] #26 closed, assigned to zaggino

[2016-08-24 02:18] #19 closed, assigned to zaggino

[2016-08-24 02:29] #11 closed, assigned to zaggino

[2016-08-29 00:11] #39 closed, assigned to ingorichter

[2016-08-30 17:47] mackenza commented on #56
https://github.com/mackenza/behw
I recreated it and can't test just now, but last time I tried this, it gave me all kinds of errors about loading modules.

[2016-08-30 20:40] mackenza opened #60 "refactor out RequireJS?"
Electron allows us to use the Node module loader in both main and renderer processes. Would it make sense to refactor the module loading to remove requirejs altogether? It seems to me to be redundant now.

[2016-08-30 23:59] zaggino commented on #60
@mackenza that'd require doing a full-out fork, I wouldn't be able to merge master from https://github.com/adobe/brackets anymore.

[2016-08-31 00:04] mackenza commented on #60
I see. I guess that requires a commitment beyond what this project can do, right?

[2016-08-31 00:06] zaggino commented on #60
Definitely. And unless this is stable (releasable) I would not put any effort into it. One step at a time.

[2016-08-31 00:17] mackenza commented on #60
I am not known for my patience ;)

Closing as "a boy can dream, can't he?" :8ball:

[2016-08-31 00:17] #60 closed, assigned to nobody

[2016-08-31 21:42] mackenza opened #61 "Exploring alternate packaging for Linux"
### Prerequisites
- [X ] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?
### Description

I am going to look into a cross-distro deployment for this. Right now we only produce .deb files for Ubuntu (and presumably Debian, but who runs Debian on the desktop?). There are a number of new packaging solutions in the Linux world with the

[2016-08-31 22:52] zaggino commented on #61
@mackenza packaging is done by https://github.com/electron-userland/electron-builder project, see related issue https://github.com/electron-userland/electron-builder/issues/509

[2016-08-31 23:36] zaggino commented on #56
@mackenza see https://github.com/mackenza/behw/pull/1/files

[2016-09-01 00:18] mackenza commented on #61
I see. I thought it was building the .deb from the Brackets original build scripts (which obviously weren't using Electron-Builder).

I wonder if I can figure out how to spit out an AppImage since that is already supported?

[2016-09-01 00:53] zaggino commented on #61
@mackenza this is used as package builder script: https://github.com/zaggino/brackets-electron/blob/master/.travis.yml

`npm run publish-linux` is the main thing

[2016-09-01 01:02] mackenza commented on #61
I looked at that... honestly I am confused now. https://github.com/electron-userland/electron-builder/wiki/Options#buildlinux states that AppImage is the default and if you wanted .deb you would need something like:

[code]

or something like that. That we are producing debs and not appimage is a mystery to me.

[2016-09-01 01:08] zaggino commented on #61
`npm run dist` should create installers locally @mackenza so feel free to try it on your machine

[2016-09-01 01:18] mackenza commented on #61
ok... so it creates a AppImage as per default. So that leads me to the question of what you run to produce the deb that you have in the release?

[2016-09-01 01:19] zaggino commented on #61
all Linux files are created remotely by https://github.com/zaggino/brackets-electron/blob/master/.travis.yml , not on my machine

[2016-09-01 01:24] mackenza commented on #61
yeah... there is my confusion. Could it be somehow using another package.json?

[code]

seems to show that it should produce a AppImage and not a deb.

[2016-09-01 01:28] mackenza commented on #61
I am not too familiar with Travis... I can't actually run `npm run publish-linux` as I get:

[code]

[2016-09-01 01:32] zaggino commented on #61
That's all good @mackenza , ignore the error with `GitHub Personal Access Token`, you don't need it. It's used to upload files to github releases. Look into folder `brackets-electron/dist-build/linux`,  there you should find files that would be uploaded if you had the token.

[2016-09-01 16:54] probonopd commented on #61
AppImage was made the default format for Linux in electron-builder only recently; this might explain why .debs got built traditionally.

By the way, if you just want to try this out, I provide experimental Brackets AppImages on https://bintray.com/probono/AppImages/Brackets#files

[2016-09-01 23:31] zaggino commented on #61
@probonopd is right, after udpate of `electron-builder` AppImage is the default, do we need to build `deb` also @mackenza ?

[2016-09-02 00:31] mackenza commented on #61
@zaggino AppImage is x-distro. So supporting just the AppImage is the easiest way to support all/most Linux ditributions. They are also very easy to install. Download, make executable and you're good.

So unless we want to support debs for legacy reasons (as in that's what Brackets does), I would say we should be OK with just AppImage. It could be revisited if there are concerns about AppImage and

[2016-09-02 00:37] zaggino commented on #61
Ok, fine with me. Next release will be with AppImage then, probably today/tomorrow.

[2016-09-02 21:30] ingorichter opened #63 "OSX build is not digitally signed"
### Description

OSX complains about missing code signing of executable.
### Versions

1.8.1

[Please include the OS and what version of `Brackets-Electron` you're running.]
OSX 10.11.6
### Steps to Reproduce
1. Download the release build
2. Open DMG and copy to local Applications folder
3. Launch Brackets-Electron

**Expected behavior:** Launch the app without warning.

**Actual behavior:** Doesn

[2016-09-02 22:23] zaggino commented on #63
Yeah, you need to be Apple Developer program member (or whatever it's called) to sign the app.

[2016-09-03 00:00] zaggino opened #64 "Implement usage of crashReporter"
https://github.com/electron/electron/blob/master/docs/api/crash-reporter.md

[2016-09-04 14:27] #56 closed, assigned to nobody

[2016-09-04 14:32] mackenza opened #65 "AppImage creates .desktop file which puts it in "Other" menu rather than "Development""
### Description

Now that we are producing AppImages and not debs, there are some finer points to work out. One of them is this minor issue where the .desktop file doesn't adequately categorize the app.
### Versions

Linux 1.8.2
### Steps to Reproduce
1. Install the AppImage
2. Go to your menu (for whatever desktop you are using)
3. Observe that the launcher for Brackets Electron is in "other".

*

[2016-09-04 14:33] mackenza commented on #65
This may be an Electron-Packager issue as I don't see any config that allows you to choose the category in their docs.

[2016-09-04 14:38] zaggino commented on #65
@mackenza The category is set here: https://github.com/zaggino/brackets-electron/blob/master/package.json#L23 but I think that's Mac only.

[2016-09-04 14:40] zaggino commented on #27
Icons in https://github.com/zaggino/brackets-electron/tree/master/build/icons are used right now, closing.

[2016-09-04 14:40] #27 closed, assigned to nobody

[2016-09-04 14:45] mackenza opened #66 "Initial startup results in default project load error message"
### Prerequisites
- [X ] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?
### Description

On initial startup, if you haven't already opened a project, then Brackets tries to load the default starter package and returns an error message because it cannot figure out how to do so.
### Versions

Linux 1.8.2 (all platforms?)
### Steps to

[2016-09-04 14:48] zaggino commented on #66
This is issue for all platforms. I didn't figure out yet what folder should open by default after first start.

[2016-09-04 14:54] mackenza commented on #66
ah... my vote is to remove the Getting Started as a default. Maybe create a default extension that adds a "Getting Started" menu item that loads it but don't have it always come up by default. This default Getting Started has been the source of many issues over the years and is of marginal value imo

[2016-09-04 14:57] mackenza commented on #65
yes, that is why I think it's a limitation of Electron-Packager

[2016-09-04 15:21] ingorichter commented on #66
I agree. The sample project doesn't load on the OSX build either at the
moment. I like the idea better to create an extension that provides the
menu entry.
On Sun, Sep 4, 2016 at 07:54 Andrew MacKenzie notifications@github.com
wrote:

[image: --]
Ingo Richter
[image: https://]about.me/ingorichter
https://about.me/ingorichter?promo=email_sig

[2016-09-05 18:44] probonopd commented on #65
Inside the AppImage (which is an ISO file, so you can loop-mount it to inspect), you will find a `$APPNAME.desktop` file which needs to be edited to contain the correct `Categories=` entry.

[2016-09-05 19:22] zaggino commented on #65
Open a new issue in the electron-builder, until thst is fixed, not much to do here ;-)

[2016-09-05 22:23] mackenza commented on #65
I would like to keep this open as it will take some changes here when/if it gets covered in electron-builder.

[2016-09-07 18:51] probonopd commented on #65
Feature added in electron-builder https://github.com/electron-userland/electron-builder/issues/504#issuecomment-245378819 thanks @develar

[2016-09-07 19:30] mackenza commented on #65
I am going to assume this work by @develar is going to satisfy this issue and am closing it. I will try it out once it gets into a release.

[2016-09-07 20:21] probonopd commented on #65
Well, the category needs to be defined in `package.json` as explained in https://github.com/electron-userland/electron-builder/wiki/Options#LinuxBuildOptions-category. So some work needs to be done in brackets-electron as well @mackenza.

[2016-09-07 20:29] zaggino commented on #65
@mackenza @probonopd see https://github.com/zaggino/brackets-electron/commit/632ced2c771d9f2c8a54338269a76b965ed400bf, not sure what should the settings of `desktop` be so feel free to open a PR

[2016-09-07 21:52] mackenza commented on #65
@zaggino here is what VSCode has... I think it looks about right.

`Utility;TextEditor;Development;IDE;`

so...

[code]

I would PR this but am not near a dev machine atm

[2016-09-08 10:04] iegik commented on #66
v1.8.1 :+1:

[2016-09-08 10:19] iegik opened #68 "Error on Refresh (F5)"
### Prerequisites
- [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?
### Description

Exception on refresh
### Versions

v1.8.1
### Steps to Reproduce
1. Open project
2. Press [F5] key

**Expected behavior:** [What you expected to happen]

No errors

**Actual behavior:** [What actually happened]

Uncaught Exception:
Error: Object

[2016-09-08 13:07] #68 closed, assigned to nobody

[2016-09-09 03:45] #66 closed, assigned to nobody

[2016-09-09 04:19] zaggino commented on #66
This should be now fixed in https://github.com/zaggino/brackets-electron/releases/tag/v1.8.2
Please re-open if that's not the case. Thanks!

[2016-09-09 04:19] zaggino commented on #68
This should be now fixed in https://github.com/zaggino/brackets-electron/releases/tag/v1.8.2
Please re-open if that's not the case. Thanks!

[2016-09-09 04:49] zaggino commented on #65
@mackenza please check AppImage in https://github.com/zaggino/brackets-electron/releases/tag/v1.8.2 if this is fixed

[2016-09-09 04:53] zaggino commented on #61
AppImage is now provided for latest version: https://github.com/zaggino/brackets-electron/releases/tag/v1.8.2

[2016-09-09 04:53] #61 closed, assigned to nobody

[2016-09-09 04:55] zaggino commented on #32
This should be easy enough: https://github.com/electron/electron/blob/master/docs/api/app.md#event-open-file-macos

[2016-09-09 12:12] mackenza commented on #65
fix confirmed... closing

[2016-09-09 12:12] #65 closed, assigned to mackenza

[2016-09-11 21:57] zaggino opened #70 "Opening a file from folder on Linux"
https://github.com/adobe/brackets/issues/11921

[2016-09-11 21:58] zaggino opened #71 "Exception in 'checkedStateChange' listener on Command "Show Errors in Status Bar""
### Description

Console shows error:

[code]
### Steps to Reproduce
1. Debug -> Show Errors in Status Bar
### Versions

Ubuntu 14.04

Breckets-Electron v1.8.2

[2016-09-11 22:01] zaggino opened #72 "Failed to connect to node after startup"
https://github.com/adobe/brackets/issues/12774

[2016-09-12 00:49] zaggino commented on #71
This seems like some sort of electron memory issue (all stack calls are coming from inside an electron asar archive) ... what's more, I can't replicate it even on Linux ... @iegik does this happen everytime or it just happened once?

[2016-09-12 00:59] zaggino commented on #72
@iegik can't replicate on Ubuntu, is this happening on every startup?

[2016-09-12 02:11] zaggino commented on #70
When I install `brackets-electron` from `.deb` package and I right click on some file, selecting `Open With > Other Application...` I can't see `brackets-electron` listed there. How to fix this?
cc @mackenza

[2016-09-12 02:24] ingorichter commented on #70
Is the name wrong? I don't fully understand the issue here. 😎
On Sun, Sep 11, 2016 at 19:11 Martin Zagora notifications@github.com
wrote:

[image: --]
Ingo Richter
[image: https://]about.me/ingorichter
https://about.me/ingorichter?promo=email_sig

[2016-09-12 04:21] zaggino commented on #70
@ingorichter see image:
![image](https://cloud.githubusercontent.com/assets/1067319/18424533/2012e984-78f4-11e6-97ea-45d4a5986a1a.png)

[2016-09-12 04:45] ingorichter commented on #70
Oh, I see. It's entirely missing from that list. It has to be registered for the mimetypes it can handle

[2016-09-12 05:40] zaggino opened #73 "Provide context menu integration for Windows"
related:
https://github.com/atom/settings-view/pull/811/files
https://github.com/atom/atom/blob/master/src/main-process/win-shell.coffee

[2016-09-12 13:26] mackenza commented on #70
Looks like we have another issue where the fix will need to come from electron-builder.

It seems like you need to add a `%f` to the `Exec=` line of the .desktop file. Since that file is being auto-generated in Electron-builder, it seems like we would need to submit an issue there (and maybe a PR if we want to make sure it's done).

Source reference: https://ubuntugenius.wordpress.com/2012/06/18/u

[2016-09-12 23:31] zaggino opened #74 "Option to turn smooth scrolling on/off"
ref: https://github.com/adobe/brackets/issues/12520

![image](https://cloud.githubusercontent.com/assets/1067319/18457682/0f3759f6-799e-11e6-89a3-c2e4a8bfdb38.png)

[2016-09-13 00:23] mackenza opened #75 "Project contributing guidelines thoughts"
I listened to a very good podcast today with Rod Vagg from NodeSource/NodeJS fame. It was the [Request for Commits](https://changelog.com/rfc-7/) podcast and Rod was discussing the Liberal Contribution governance model in place in a project he started called LevelUp (a node wrapper for LevelDB). Here is their [contributing.md](https://github.com/Level/community/blob/master/CONTRIBUTING.md)

I thin

[2016-09-13 00:40] zaggino commented on #74
Implemented in https://github.com/zaggino/brackets-electron/commit/bfbc360732139289aea1533d333847708b8557b5

[2016-09-13 00:40] #74 closed, assigned to zaggino

[2016-09-13 00:59] zaggino commented on #75
Can't say I disagree with anything in the doc, haven't heard the podcast yet, maybe I will give it a go. So far this fork is run only as an alternative shell to Brackets - adding **major** features not present there is highly unlikely at this point in time.

Anybody is welcome to contribute to anything they might think would be useful, taking in mind that this forks aims to preserve compatibility

[2016-09-13 12:52] iegik commented on #71
No. I can`t repeat this on v1.8.2

[2016-09-13 12:55] zaggino commented on #71
Here it hints electron/electron#4733 that it might be something with referencing an object in the main process which has already been removed. Will have a closer look at my code even though I can't replicate this.

[2016-09-13 14:09] iegik commented on #72
Cannot repeat again.
- Every time after refresh Brackets (F5):

[code]

[2016-09-13 14:10] iegik commented on #72
- Every time after refresh Brackets (F5)

[2016-09-15 00:08] zaggino commented on #48
I've tested latest master just now and this is no longer an issue on Mac, closing.

[2016-09-15 00:08] #48 closed, assigned to nobody

[2016-09-15 01:11] #32 closed, assigned to nobody

[2016-09-15 04:32] zaggino commented on #71
After investigating I believe this is an electron issue.

[2016-09-15 04:35] zaggino commented on #72
`KeyboardEvent.keyIdentifier` solved in https://github.com/zaggino/brackets-electron/commit/0f72e40425e6412494838d54050ee74e63c6098b

[2016-09-15 04:51] #72 closed, assigned to nobody

[2016-09-16 12:02] #75 closed, assigned to nobody

[2016-10-24 14:46] akuzia opened #77 "brackets-sass wont install"
![default](https://cloud.githubusercontent.com/assets/11508654/19650374/2388c9a2-9a1a-11e6-90de-4860a20ba160.png)
![2](https://cloud.githubusercontent.com/assets/11508654/19651112/acb5412c-9a1c-11e6-8222-04e7d5622845.png)

Health Report:
`
{
    "uuid": "6e42fd4f-e655-4f36-a85f-064e2af05186",
    "snapshotTime": 1477320392154,
    "productName": "Brackets-Electron",
    "os": "linux",
    "userAge

[2016-10-24 22:36] zaggino commented on #77
Seems like `brackets-sass` requires some parts of LiveDevelopment, which are not present in Brackets-Electron.

[2016-10-24 22:36] zaggino commented on #77
related to issue https://github.com/zaggino/brackets-electron/issues/25

[2016-11-07 11:29] AgamlaRage opened #79 "Duplicate line (Ctrl+D) won't work. Deleting line instead"
### Description

The shortcut "Ctrl+D" to copy-paste current line or selection won't work.
It's deleting the current line instead.

### Config
I use **Brackets 1.8** ,and **Brackets-Electron 1.8.4** (made update today).
Windows 10 (1607).

Bug appear only in Brackets-Electron.

### Steps to Reproduce

1. Open a text file (I tried, js, css, scss, php)
2. Choose a line, and put your cursor into it (

[2016-12-06 13:28] apla opened #82 "White screen after the build, codemirror.js error"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

CodeMirror need to be rolled up before starting app. Without this, `dist/www/thirdparty/CodeMirror/lib/codemirror.js` is not found.

### Versions

master, 1.9.1

[2016-12-06 20:34] zaggino commented on #82
👍 this is something that's currently being discussed in original brackets repository so I didn't take any action here yet

[2016-12-12 17:27] ghost opened #85 "Wakatime extension error"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

On first launch after Wakatime install, Wakatime prompts for wakatime API key. In console it throwss this error message `C:/Users/Martin/AppData/Roaming/Brackets-Electron/extensions/user/brackets-wakatime - Error: prompt() is and will not be s

[2016-12-12 19:29] zaggino commented on #85
https://github.com/electron/electron/issues/472

[2016-12-23 07:48] ghost commented on #85
Closed by wakatime/brackets-wakatime#4

[2016-12-23 07:48] #85 closed, assigned to nobody

[2016-12-23 07:54] ghost commented on #79
This applies to more keyboad shortcuts, for example "Move Line Up" and "Move Line Down" and remapping didn't work for me as well. In this state it's quite unusable for me.

[2016-12-23 09:34] zaggino commented on #79
Fixed now on master, I'll release 1.9.1 shortly after fixing some build issues.

[2016-12-23 11:48] zaggino commented on #79
@AgamlaRage @mskocik fixed in https://github.com/zaggino/brackets-electron/releases/tag/v1.9.1

[2016-12-23 11:51] zaggino commented on #82
@apla this is now fixed in master

[2016-12-23 11:51] #82 closed, assigned to nobody

[2016-12-23 11:59] zaggino commented on #71
according to https://github.com/electron/electron/issues/7351 this should be fixed in latest master

[2016-12-23 11:59] #71 closed, assigned to nobody

[2016-12-24 12:04] AgamlaRage opened #86 "1.9.1 - Window focus, and shortcut"
Brackets-Electron 1.9.1
Windows 10

I use to open normal brackets in one screen and electron in an other (so I can see diferents project ...etc).
Since the Electron 1.9.1 update, when I do that, brackets-electron do weird things when I change the window focus.

Examples:
- In normal brackets, shortcut  (like Ctrl+A, Ctrl+Z, ...etc) won't work
- In windows, shortcut (like Ctrl+N) won't work)
( in n

[2016-12-24 16:07] ghost commented on #86
Maybe this is related. I've found Brackets-electron 1.9.1 *steals* all keyboard shortcuts, even though Other program is focused. Tested with Firefox, Notepad++ and other programs.

Win7/Brackets-electron 1.9.1

[2016-12-24 16:11] AgamlaRage commented on #86
@mskocik you are right, and this is a good description of the issue.

[2016-12-25 00:56] zaggino commented on #86
This is a fuck-up indeed. Will release 1.9.2 shortly, sorry guys.

[2016-12-25 01:10] zaggino commented on #86
https://github.com/zaggino/brackets-electron/releases/tag/v1.9.2

[2017-03-12 10:42] r4p7or opened #87 "Text is a bit blurry because Brackets-Electron uses Grayscale antialiasing instead of ClearType"
OS: Windows 7 64bit
Brackets-Electron Release 1.9 build 1.9.3

Hi, thank you for developing Brackets-Electron. I always wished Brackets had the standard (or skinable) window frame. The default flat dark doesn't look good to me.
So I am glad that I came across this project.

Unfortunately I cannot use Brackets-Electron yet. The show stopper for me is the font rendering (at least in Windows 7, I don

[2017-03-12 11:06] r4p7or commented on #86
OS: Windows 7 64bit
Brackets-Electron Release 1.9 build 1.9.3

**It still usurps those shortcuts.**

For example:
- Brackets-Electron is minimized.
- I'm  working in other programs and copying and pasting a text using Ctrl+C and Ctrl+V (from OneNote to Directory Opus adress bar)  when suddenly Ctrl+V stops working. Nothing gets pasted. I have to use right-click menu > Paste.
- Then I click on the

[2017-03-12 23:53] zaggino commented on #87
Hi, can't see this on my screen, and as far as I know, this is not controlled in brackets-electron's code and is probably the same issue reported here https://github.com/Microsoft/vscode/issues/13662

I try to update Electron to latest with each release.

If you have an idea how to fix this in brackets-electron's code please open a PR.

[2017-03-13 02:33] #79 closed, assigned to nobody

[2017-03-13 03:00] zaggino commented on #86
@r4p7or please test with https://github.com/zaggino/brackets-electron/releases/tag/v1.9.4

[2017-03-13 17:40] r4p7or commented on #86
Hi, unfortunately even 1.9.4 still steals shortcuts.

It doesnt steal them all the time - I reckon in 1 case out of 30 (just a rough estimate).

Since this morning I've left Brackets-El minimized  and carried on working on my projects waiting for the issue to appear or not.

It has stolen 2 "shortcuts" so far:

1st was Ctrl + B
- In OneNote I wanted to make a text selection bold using Ctrl + B
- n

[2017-03-13 23:34] zaggino commented on #86
@r4p7or ok, the fix is a hack right now and I'd need to report a bug with electron to fix this. Basically, when I remove the hack, the ctrl+d (notice the case) doesn't work but ctrl+D (capslock enabled) does ... this was reported as https://github.com/zaggino/brackets-electron/issues/79

For now, if I remove hack, it will make some shortcuts to stop working. If I leave it, it will sometime steal s

[2017-03-26 13:05] ficristo opened #88 "Drop an extension zip in the extension manager does not work."
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

I see errors like this one in the console `Uncaught TypeError: Cannot read property 'fullPath' of null`

### Versions

Windows 10
1.9.4

### Steps to Reproduce

1. Open the extensions manager
2. Drop an extension zip

**Expected behavior:** th

[2017-04-18 19:11] ficristo opened #89 "Extension with native code"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

I tryed to install [my extension](https://github.com/ficristo/brackets-terminal-x) manually but it fails with this message in the console:
[code]
do you have an idea?

I tryed to delete the `.npmrc`  file or to add one like this but failed.
[c

[2017-04-18 19:29] ingorichter commented on #89
The path in the console log looks broken to me. Wondering who can't deal with windows paths properly

[2017-04-26 06:51] tatsujb commented on #25
I'm not able to code this but I'd really love this feature! :)

[2017-04-26 14:30] Hirse commented on #77
@zaggino [Brackets Beautify](https://github.com/brackets-beautify/brackets-beautify) is having [the same problem](https://github.com/brackets-beautify/brackets-beautify/issues/246) since we introduced a [fix for Duplication of LiveDevelopment content](https://github.com/brackets-beautify/brackets-beautify/issues/49).

The extension doesn't use the LiveDevelopment so it should work with Brackets-El

[2017-04-26 14:40] zaggino commented on #77
@Hirse you could check for existence of `window.electron` as I don't think regular Brackets has that one.

[2017-05-05 13:56] avdhesh-agnisys opened #90 "Unable to install on Redhat6"
I tried it out Redhat 6 but it was not working, it gives installation issue.

Avdhesh

[2017-05-08 01:16] #86 closed, assigned to nobody

[2017-05-08 01:56] zaggino commented on #86
Should be fixed in https://github.com/zaggino/brackets-electron/releases/tag/v1.10.2 completely.

[2017-05-26 19:53] mskocik opened #91 "Shortcuts edit.moveDown & edit.moveUp not working"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

Shortcuts for moving line up `Ctrl-Shift-Up` and down `Ctrl-Shift-Down` don't work. Cannot be redefined.

### Versions

Linux Mint 18
Release 1.10 experimental build 1.10.2 (master f3e00c082)
build timestamp: Mon May 08 2017 01:26:20 GMT+0000

[2017-05-26 23:04] #91 closed, assigned to nobody

[2017-05-26 23:52] zaggino commented on #91
@mskocik released `1.10.3`

[2017-06-01 18:32] ficristo commented on #88
The problem is that DataTransferItem.webkitGetAsEntry() return null.
Trying to reproduce on a browser, also there, when webkitGetAsEntry is used on a `dragover` listener, it returns null. But it returns an entry when called inside a `drop` listener.

Maybe when Brackets will update its shell will hit the same behaviour.
/cc @ingorichter @nethip

[2017-06-24 19:36] pratts opened #92 "Brackets-electron installation fails on Debian 8"
### Prerequisites

* [*] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

Installation fails while installing on debian 8

### Versions

OS version : Debian 8  64 bit
Brackets-electron version : 1.10.3

### Steps to Reproduce

1. Download Brackets-electron
2. Run dpkg -i installation-file.deb

**Expected behavior:**

[2017-08-12 06:15] ficristo opened #94 "A build of master doesn't run correctly"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

After a clean install codemirror is not available

### Versions

Windows
master rev 3c44e8259c4e134aa2a0905cf9347544b9900aca

### Steps to Reproduce

1. git clean -xdf
2. npm install
3. npm run dev
4. npm start -- --enable-logging

**Expected

[2017-08-21 00:19] #94 closed, assigned to nobody

[2017-08-21 00:22] zaggino commented on #94
Due to changes in CodeMirror build it's no longer possible to link directly to Github commit. Fixed.

[2017-09-26 19:04] #89 closed, assigned to nobody

[2017-09-30 23:19] simoniz0r opened #95 "Latest release available here is out of date."
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

The latest release of brackets is 1.11, but the latest version on the releases page here is 1.10.3

### Versions

All.

### Steps to Reproduce

1. Look at releases page here
2. Look at releases page from original brackets repo
3. Realize that

[2017-10-23 21:46] pushqrdx commented on #88
So no one worked on this bug yet ?

[2017-11-19 13:12] ficristo commented on #95
This project was mantained by a single person.
I'm sorry, but I really doubt there will be a new release anytime soon.

[2017-11-19 13:14] ficristo commented on #88
Nobody AFAIK.
I doubt there will be a new release anytime soon, so it is not worth to look at it...

[2018-02-10 20:43] DevKishan opened #101 "Opening a file/folder with Brackets Electron opens a new instance of the application every time"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?
Yes, this problem is specific to Brackets Electron as other editors like atom, sublime text or gedit handle it properly. I have tested it with the latest version of Brackets Electron.
### Description

[Description of the bug or feature]
File/Folder -> Right Cli

[2018-08-25 10:35] unapropriate opened #102 "Error Getting Update Info"
Hi, I'm pretty new to brackets-electron, and know that its maintained by one person.
But is this normal?

I tried checking for updates, in-app, and it displayed the following:

"Error Getting Update Info"

Is this normal?

I'm running brackets-electron version 1.10.3

I'll await response
Thanks in advance,

Keanu

[2018-12-03 19:41] CodeBanger opened #103 "appimage"
### Prerequisites

* [ ] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?

### Description

[Description of the bug or feature]

### Versions

[Please include the OS and what version of `Brackets-Electron` you're running.]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you ex

[2018-12-03 19:44] CodeBanger commented on #103
trying the appimage: ./brackets-electron: error while loading shared libraries: /home/acrylic/installs/brackets-electron-1.10.3-x86_64/usr/bin/libnode.so: invalid ELF header

need to do a static build

[2019-01-15 21:54] gusbemacbe commented on #103
This version is outdated. The latest version in the official repository of Adobe fixed it, but it does not have AppImage.

[2019-06-30 10:21] nilslindemann commented on #87
The [Electron FAQ](https://github.com/electron/electron/blob/master/docs/faq.md#the-font-looks-blurry-what-is-this-and-what-can-i-do) now explains what this is and how to fix it.

[2022-10-11 18:03] anonimo82 opened #104 "Can't run AppImage"
### Prerequisites

* [x] Is this `Brackets-Electron` specific problem (did you test it with latest [brackets build](http://brackets.io/))?
I didn't try with the official release, because I just need the AppImage
### Description

[Description of the bug or feature]
As I try to run the AppImage, any version provided, I get an error similar to this one:
[code]

### Versions

[Please include the OS an

[2022-10-11 18:42] anonimo82 commented on #104
P.S.: I also tried the .deb, just got a segmentation fault

[2022-10-13 11:18] anonimo82 commented on #104
Anyone?

[2022-10-13 11:25] petetnt commented on #104
Hey @anonimo82,

sadly the Brackets project has been ended and there's a very small chance that someone sees this and/or is able to help 😞 I saw the messages by chance but I don't know anything about the Electron fork myself.

If you are looking for an open source editor, VSCode seems to have an up-to-date AppImage https://apprepo.de/appimage/vscode

[2022-10-13 11:28] anonimo82 commented on #104
Ok, I'd prefer Brackets, but I'm ok with Code too.
Thanks a lot!

[2022-10-13 11:28] #104 closed, assigned to nobody